# Neon Database Configuration
DB_HOST=ep-cool-frost-a1gmmccs-pooler.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=your-neon-password-here
DB_NAME=neondb
DB_SSLMODE=require
DB_CHANNEL_BINDING=require


JWT_SECRET=change-me-in-production
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=168h

SERVER_PORT=8080

UPLOAD_DIR=uploads
MAX_UPLOAD_SIZE=5242880

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=Register System <your-email@gmail.com>
